{% extends "base.html" %} {% load static %} {% block content %}
<div class="text-center">

    <div class="row">

        <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-4">
            <!--Card-->
            <div class="card ">
                <!--Card image-->
                <div class="view overlay">
                    <img src="{% block thumbnail %}{{ object.thumbnail.url }}{% endblock thumbnail %}" class="card-img-top" alt="" loading="lazy">
                    <br>
                    <small>{{object.author.nickname}}さんの筆箱</small><br />
                    <div class="text-right mr-4">
                    <small>{{object.created_at|date}}に公開</small><br />
                    <small>{{object.updated_at|date}}に更新</small><br />
                    </div>
                </div>

                <!--Card content-->
                <div class="card-body">
                    {% if request.user == object.author %}
                    <p>投稿したら、下のボタンから<br>ツイートしましょう！</p>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                        data-size="large" data-text="筆箱紹介を投稿しました！" data-lang="ja" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
                    {% else %}
                    <p>下のボタンから<br>ツイッターでシェアしましょう！</p>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                        data-size="large" data-text="" data-lang="ja" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
                    {% endif %}
                    {% if request.user == object.author %}
                    <a class="btn btn-danger" href="{% url 'pencaseapp:article_delete' object.pk %}"><i
                            class="fas fa-trash"></i>
                        削除する</a>
                    {% endif %} {% if request.user == object.author %}
                    <a class="btn btn-light" href="{% url 'pencaseapp:article_update' object.pk %}"><i
                            class="fas fa-pen"></i>
                        編集</a>
                    {% endif %}
                    <!--Title-->
                    <hr>
                
                    <div class="text-left mt-2">
                        <h3 class="article__title"><i class="fas fa-flag"></i> テーマ</h3>
                        <p class="article__content">{{object.theme|linebreaks}}</p>
                        <hr class="my-2">
                        <h3 class="article__title"><i class="fas fa-folder-open"></i> 筆箱</h3>
                        <p class="article__content">{{object.pencase|linebreaks}}</p>
                        <hr class="my-2">
                        <h3 class="article__title"><i class="fas fa-pencil-alt"></i> シャーペン</h3>
                        <p class="article__content">{{object.mechanical_pencil|linebreaks}}</p>
                        <hr class="my-2">
                        <h3 class="article__title"><i class="fas fa-pen-alt"></i> ボールペン</h3>
                        <p class="article__content">{{object.ball_point_pen|linebreaks}}</p>
                        <hr class="my-2">
                        <h3 class="article__title"><i class="fas fa-eraser"></i>消しゴム</h3>
                        <p class="article__content">{{object.eraser|linebreaks}}</p>
                        <hr class="my-2">
                        <h3 class="article__title"><i class="fas fa-cubes"></i>その他</h3>
                        <p class="article__content">{{object.others|linebreaks}}</p>
                        <hr class="my-2">
                    </div>

                <form action="{% url 'pencaseapp:article_likes' object.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger btn-rounded waves-effect btn-sm" type="submit">
                        <i class="far fas fa-heart"></i> {{total_likes}} いいね
                    </button>
                </form>
                
                {% if request.user != object.author %}
                <a class="btn btn-outline-info btn-rounded waves-effect btn-sm"
                    href="{% url 'pencaseapp:pencase_comment' object.pk %}"><i class="fas fa-comment"></i> コメントする</a>
                {% endif %}

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <a class="btn btn-blue-grey mb-4" href="{% url 'pencaseapp:home'%}"><i class="fas fa-backward"></i> 戻る</a>
    <div class="card grey lighten-4 chat-room">
        <div class="card-body">
            <h3 class="mb-4">感想・返信</h3>
            {% for comment in object.comments.all %}
            <hr>
            <div class="row px-2">
                <!-- Grid column -->
                <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">
                    <div class="chat-message">
                        <ul class="list-unstyled chat">
                            <li class="d-flex justify-content-between mb-4">
                                <div class="chat-body white p-3 ml-2 z-depth-1">
                                    <div class="header">
                                        <small class="primary-font">{{comment.commentator.nickname}}さん</small>
                                        <small class="pull-right text-muted"><i
                                                class="far fa-clock"></i>{{comment.created_at}}</small>
                                    </div>
                                    <p class="mb-0 text-left">{{comment.comment_text}}</p>
                                </div>
                            </li>
                            <div>
                                <a class="btn btn-info btn-sm waves-effect waves-light float-right"
                                    href="{% url 'pencaseapp:pencase_reply' comment.pk  %}">返信する</a>
                                </a>
                            </div>
                            <br><br>

                            {% for reply in comment.replies.all %}
                            <li class=" mr-2 offset-ml-lg-3 ml-0 "></li>
                            <li class="d-flex justify-content-between mb-4">
                                <div class="chat-body gray p-3 ml-2 z-depth-1">
                                    <div class="header">
                                        <small class="primary-font">{{reply.replyer.nickname}}さん</small>
                                        <small class="pull-right text-muted"><i class="far fa-clock"></i>
                                            {{reply.created_at}}</small>
                                    </div>
                                    <p class="mb-0 text-left">{{reply.reply_text}}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            {% empty %}
            <p>コメントはまだありません。</p>
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-blue-grey my-4" href="{% url 'pencaseapp:home'%}"><i class="fas fa-backward"></i> 戻る</a>
    {% endblock content %}