{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    
    {% include 'pencaseapp/top.html' %}
    <ul>
        {% if user.is_authenticated %}
        <p>こんにちは、{{user.nickname}}さん！<br>(ログイン済です)</p>
        {% else %}
        <p>まだログインしていません。</p>
        {% endif %}
    </ul>
</div>

<main>
    <div class="text-center">

        <h2 class="my-4">話題の筆箱</h2>
        <div class="row">

            {% for object in article_trend %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 my-4">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top " alt="" loading="lazy">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body pt-0">
                        <!--Title-->
                        <h4 class="card-title">{{object.title}}</h4>
                        <!--Text-->

                        <a href="{% url 'pencaseapp:article_detail' object.pk %}"
                            class="btn btn-light-blue btn-sm mb-1">
                            <i class="fas fa-angle-double-right "></i>
                            詳しくみる！</a><br>
                        <a><i class="fas fa-heart" style="color: #ff80ab;"></i> {{object.likes.count}}</a><span
                            class="mx-1"></span><a><i class="fas fa-comment" style="color: #b2ff59 ;"></i>
                            {{object.comments.all.count}}</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
            <br />
            {% empty %}
            <p>まだ投稿がありません</p>
            {% endfor %}
        </div>
        <a class="btn btn-info btn-rounded" href="{% url 'pencaseapp:trend' %}">話題の筆箱をすべて見る <i
                class="far fa-arrow-alt-circle-right"></i></a>
    </div>
    <hr class="my-4">

    <div class="text-center ">
        <h2 class="my-4">最新の筆箱</h2>
        <div class="row">
            {% for object in article_latest %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 my-4">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="" loading="lazy">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}" class="btn btn-light-blue btn-sm">
                            <i class="fas fa-angle-double-right"></i>
                            詳しくみる！</a><br>
                        <a><i class="fas fa-heart" style="color: #ff80ab;"></i> {{object.likes.count}}</a>
                        <a><i class="fas fa-comment" style="color: #b2ff59 ;"></i> {{object.comments.all.count}}</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
            <br />
            {% empty %}
            <p>まだ投稿がありません</p>
            {% endfor %}
        </div>
    <a class="btn btn-info btn-rounded mb-4" href="{% url 'pencaseapp:latest' %}">最新の筆箱をすべて見る <i
            class="far fa-arrow-alt-circle-right"></i></a>
    </div>
    {% include "pencaseapp/post_button.html" %}

    </div>

</main>

{% endblock content %}