{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="text-center">

        <h2 class="mb-4">ようこそ、<br>みんなの筆箱へ。</h2>
    </div>
    <p><a class="btn btn-primary" href="{% url 'pencaseapp:random' %}">ランダムに見てみる</a></p>
    <p><a class="btn btn-primary" href="{% url 'pencaseapp:mypage' %}">マイページ</a></p>
    <ul>
        {% if user.is_authenticated %}
        <p>こんにちは、{{user.nickname}}さん！<br>(ログイン済です)</p>
        {% else %}
        <p>まだログインしていません。</p>
        {% endif %}
    </ul>
</div>

<main>
    <div class="text-center">

        <h2 class="my-4">話題の筆箱</h2>
        <div class="row">

            {% for object in article_trend %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 my-4">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="" loading="lazy">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body mt-0">
                        <!--Title-->
                        <h4 class="card-title">{{object.title}}</h4>
                        <!--Text-->

                        <a href="{% url 'pencaseapp:article_detail' object.pk %}"
                            class="btn btn-light-blue btn-sm mb-1">
                            <i class="fas fa-angle-double-right "></i>
                            詳しくみる！</a><br>
                        <a><i class="fas fa-heart" style="color: #ff80ab;"></i> {{object.likes.count}}</a><span
                            class="mx-1"></span><a><i class="fas fa-comment" style="color: #b2ff59 ;"></i>
                            {{object.comments.all.count}}</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
            <br />
            {% empty %}
            <p>no content</p>
            {% endfor %}
        </div>
        <a class="btn btn-outline-secondary waves-effect" href="{% url 'pencaseapp:trend' %}">話題の筆箱をすべて見る</a>
    </div>
    <div class="text-center ">
        <h2 class="my-4">最新の筆箱</h2>
        <div class="row">
            {% for object in article_latest %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 my-4">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="" loading="lazy">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{object.title}}</h4>
                        <!--Text-->
                        <small class="text-right">{{object.author.nickname}}</small><br>
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}" class="btn btn-light-blue btn-sm">
                            <i class="fas fa-angle-double-right"></i>
                            詳しくみる！</a><br>
                        <a><i class="fas fa-heart" style="color: #ff80ab;"></i> {{object.likes.count}}</a>
                        <a><i class="fas fa-comment" style="color: #b2ff59 ;"></i> {{object.comments.all.count}}</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
            <br />
            {% empty %}
            <p>no content</p>
            {% endfor %}
        </div>
    <a class="btn btn-outline-secondary waves-effect" href="{% url 'pencaseapp:latest' %}">最新の筆箱をすべて見る</a>
    </div>

    <a href="{% url 'pencaseapp:article_create' %}"
        class="fixed-right-bottom btn-floating  btn btn-lg btn-success px-2 py-2"><i class="fas fa-pencil-alt"></i>
        投稿する！</a>

    </div>

</main>
<!-- Footer -->
<footer class="page-footer font-small amber lighten-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a>みんなの筆箱</a>
    </div>
    <!-- Copyright -->

</footer>
{% endblock content %}