<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for object in my_article %}
      <p>{{object.title}}</p>
      <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            adsfsdaf<div class="mask rgba-white-slight"></div>
                        </a>
    {% endfor %}
</body>
</html>