{% extends "base.html" %} {% load static %} {% block content %}
{% comment %} <div>
    <ul>
        {% if user.is_authenticated %}
        <p>こんにちは、{{user.nickname}}さん！<br>(ログイン済です)</p>
        {% else %}
        <p>未ログイン</p>
        {% endif %}
    </ul>
</div> {% endcomment %}

<main>
    <div class="text-center">

        <h2 class="my-4 mx-4">ランダムな筆箱</h2>
        <div class="card white my-4 py-4 px-4">
        <p>このページではランダムに筆箱を見学することができます。</p><p>いいね・新着に関係なく見られるのでおすすめです。</p>
        </div>
        <div class="row">

            {% for object in object_list %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="" loading="lazy">
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{object.title}}</h4>
                        <!--Text-->
                        <a href="{% url 'pencaseapp:article_detail' object.pk %}" class="btn btn-light-blue">
                            <i class="fas fa-angle-double-right"></i>
                            詳しくみる！</a><br>
                        <a><i class="fas fa-heart" style="color: #ff80ab;"></i> いいね ({{object.likes.count}})</a>
                        <a><i class="fas fa-comment" style="color: #b2ff59 ;"></i> コメント
                            ({{object.comments.all.count}})</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->
            <br />
            {% empty %}
            <p>まだ投稿がありません</p>
            {% endfor %}
        </div>
    </div>
    {% include "pencaseapp/post_button.html" %}

</main>
{% endblock content %}