{% extends "base.html" %}
{% load static %}
{% block title %}みんなの筆箱紹介！|{% endblock %}
{% block content %}
<div id="blog">
<!-- Section: Blog v.1 -->
<section class="my-5 c">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">公式ブログ</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">お知らせや、このサイトの使い方を載せております。</p>
    <!-- Grid row -->
    <div class="row">
        {% for post  in object_list %}
        {% if post.is_public %}

        <!-- Grid column -->
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                
                {% if post.thumbnail.exist %}
                <img class="img-fluid" src="{{ post.thumbnail.url }}"
                    alt="Sample image">
                {% endif %}
                <img class="img-fluid" src="{% static 'blogimage.png' %}"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">

            <!-- Category -->
            <a class="green-text">
                <h6 class="font-weight-bold mb-3"> <i class="fas fa-bullseye"></i>{{post.category}}</h6>
            </a>
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{ post.title|safe}}</strong></h3>
            <!-- Excerpt -->
            <p>あああああああああああああああああああああああああああああああ
            </p>
            <!-- Post data -->
            <p>作成日：{{ post.created_at |date:"Y年n月j日"}}　更新日{{ post.updated_at |date:"Y年n月j日"}}</p>
            <!-- Read more button -->
            <a class="btn btn-success btn-md" href="{% url 'blog:blog_detail' post.pk %}">Read more</a>

        <hr class="my-5">
        </div>
        <!-- Grid column -->

        {% endif %}
        {% endfor %}
    </div>
    <!-- Grid row -->


</section>
</div>


{% endblock content %}