{% extends "base.html" %}
{% load static %}
{% block title %}みんなの筆箱紹介！{% endblock %}

{% block meta-description %}みんなが自由に自分の筆箱を紹介しあえるウェブサービスです。写真を載せることができ、いいね、コメントも可能。投稿も登録だけでかんたんにすることができます。{% endblock meta-description %}
{% load static %}
{% block content %}
<div id="blog">
  <div class="card white lighten-4 px-4 pb-4 pt-2 mb-4">
      <h2 class="h1-responsive font-weight-bold text-center my-5">{{ object.title }}</h2>
          <div class="text-right mb-2">
              <small>作成日：{{object.created_at|date:"Y年n月j日"}}</small>
              <small>更新日：{{object.created_at|date:"Y年n月j日"}}</small>
            </div>
      {{ object.formatted_markdown|safe }}
    </div>
</div>
{% endblock content %}