{% load static %}
<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
    <title>{% block title %}みんなの筆箱紹介{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pencaseofficial" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="みんなの筆箱紹介！" />
    {% comment %} <meta name="description" property="og:description"
        content="みんなが自由に自分の筆箱を紹介しあえるウェブサービスです。写真を載せることができ、いいね、コメントも可能。投稿も登録だけでかんたんにすることができます。" /> {% endcomment %}
    <meta name="description" property="og:description"
        content="{% block meta-description %}みんなが自由に自分の筆箱を紹介しあえるウェブサービスです。写真を載せることができ、いいね、コメントも可能。投稿も登録だけでかんたんにすることができます。{% endblock meta-description %}" /> 
    <meta property="og:image" content="{% block thumbnail %}{% static 'forshareimage.png' %}{% endblock thumbnail %}" />
    {% block extra_head %} {% endblock %}


    <!-- material -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% block extra_css %} {% endblock extra_css %}
</head>

<body class="rgba-lime-slight d-flex flex-column h-100">
    <div class="fixed-top">
        <nav class="navbar navbar-fixed-top navbar-dark  amber lighten-3 justify-content-between navbar-fixed-top">
            {% comment %} <a class="dropdown-item" href="{% url 'accounts:profile_edit' %}">プロフィール</a> {% endcomment %}
            <!-- Collapsible content -->
            <!-- Collapse button -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#collapsingNavbar">
                <span class=""><i class="fas fa-bars" style="color:black;"></i></span>
            </button>
            <a class="navbar-brand mx-0" href="{% url 'pencaseapp:home' %}">
                <img src="{% static 'toplogo.png' %}" height="45" alt="ロゴ" />
            </a>
            <a class="btn btn-info btn-sm mr-0" id="" role="button" data-toggle="" aria-haspopup="true"
                aria-expanded="false" href="{% url 'accounts:account_login' %}">
                ログイン
            </a>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="{% url 'pencaseapp:mypage' %}">マイページ</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'pencaseapp:random' %}">ランダム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">トレンド</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">新着</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="{% url 'blog:blog' %}">公式ブログ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="#">公式ツイッター</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
    </div>
    <div class="container">
        <div class="text-center">
            {% if messages %}
            {% for message in messages %}
            <p class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message|safe }}
            </p>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container">{% block content %} {% endblock %}</div>
    {% block extra_body %} {% endblock %}

    <!-- Footer -->
    <div class="text-center">
    <footer class="page-footer font-small amber lighten-3 mt-auto pt-4 ">
        <!-- Footer Links -->
        <div class="container-fluid text-md-left text-dark">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="mx-auto text-center">
                    <!-- Links -->
                    <h5 class="text-uppercase">関連リンク</h5>
                    <ul class="list-unstyled ">
                        <li>
                            <a href="#!" class="text-dark">プライバシーポリシー</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">規約</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a> pencase.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </div>

    {% block extra_js %}{% endblock extra_js %}
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</body>

</html>